{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <h1 class="text-muted text-center">Mon compte</h1> 

    <div class="container">
        <h2 class="text-center">Bonjour {{app.user.nomComplet}}</h2> 
        <hr>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{path('app_user')}}">Voir les utilisateurs du site</a> <br>
        <a href="{{path('app_all_article')}}">Voir les articles du site</a> <br>
        {% endif %}
        <a href="">Voir les commentaires du site</a> <br> 
        <a href="{{path('app_profil')}}">Editer mon profil</a>   
    </div> 
     
    
{% endblock %}
