{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

<div class="row mx-auto">  
    
    <h2 class="text-center m-3">Inscription</h2> 

    <div class="col-md-6 mx-auto">
        {{form(myForm)}} 
        {# form(nom de la clé) fonction qui matérialise le formulaire myForm(la clé) #} 
    </div>
    
</div>
{% endblock %}
